//Main Colors

$white: #FFFFFF;
$background-color: #D9D9D9;
$primary-color: #284B63;
$accent-color: #ecb426;
$dark-color: #353535;


// Typography

$line-height: 1.45em;

//Font
$primary-font: 'Rubik', sans-serif;
$mono-font: 'Roboto Mono', monospace;


//Styling

$border-radius: 5px;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;

//Button effects