* {

    hyphens: auto;

}

body {

    background-color: #001219
}

main {

    background-color: #001219;

}

.card-img {

    background-size: cover;

}

.card-body {


    background-color: #001219;

}

hr {

    color: #EE9B00;
    border: 1px #EE9B00 solid;
    margin-bottom: 50px;

}