.card-img-overlay .card-title {

    color: #E9D8A6;


}

.card-img-overlay .card-text {

    color: #EE9B00;

}

#header-img {

    opacity: 30%;

}

header .card {

    background-color: #001219;

}